docs/n8n-workflows/transcript-logger.json
{
    "name": "Gemini Phone - Transcript Logger",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "gemini-phone-transcripts",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.event }}",
                            "operation": "equals",
                            "value2": "speech"
                        }
                    ]
                }
            },
            "id": "filter-1",
            "name": "Filter Speech Events",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO call_transcripts (call_id, timestamp, speaker, text)\\nVALUES ('{{ $json.callId }}', '{{ $json.timestamp }}', 'user', '{{ $json.transcript }}')",
                "options": {}
            },
            "id": "postgres-1",
            "name": "Save to Database",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "1",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"ok\": true, \"saved\": true }",
                "options": {}
            },
            "id": "respond-1",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filter Speech Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Speech Events": {
            "main": [
                [
                    {
                        "node": "Save to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Database": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-31T00:00:00.000Z",
    "versionId": "1"
}